/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}
.horizontal-center {
 display: block; /* Important: Make the button a block-level element */
  margin: 0 auto; /* Centers horizontally */
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
.wobble-text {
    font-size: 3em; /* Adjust as needed */
    animation: wobble 0.8s infinite alternate; /* Name, duration, iteration, direction */
}

@keyframes wobble {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
