
@font-face {

    font-family: 'Azeret Mono';
    font-weight: 500;
    font-style: italic;

}

body {
    margin: 2rem;
    font-family: sans-serif;
}
/* what in the git push */

/* i hate copilot */

#money {
    font-family: 'Azeret Mono';
}
